.App{
  margin: 10px 40px;
}
.nav{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.d-none{
  display: none;
}
.fade-in-image { animation: fadeIn 4s;position: absolute; top: -13px;opacity: 0;}
@keyframes fadeIn {
  0% { opacity: 0;
  top: 0px; }
  50% { opacity: 0.5;
  top: 3px;position: relative; }
  100% { opacity: 1;
    top: 3px;position: relative; }
}
